body {
    background: #eef1f4;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-box {
    max-width: 420px;
    background: white;
    margin: 70px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.btn-custom {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.dashboard-header {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.panel-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.panel-card h3 {
    margin-bottom: 15px;
}
